html {
    font-size: 62.5%; //10px = 1rem
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $fuentePrincipal;
    font-size: 1.6rem;

    // &.fijar-body {
    //     overflow: hidden;
    // }
}
p {
    font-size: 2rem;
    color: $fourthColor;
}   
.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
h1, h2, h3 {
    color: $thirdColor;
    margin: 0;
}
h1 {
    font-size: 4rem;
    font-weight: $black;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
    