@mixin telefono {
    @media (min-width: $telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}
@mixin grid($columnas: 2, $espaciado: 2.5rem) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}