//Tipografías
$fuentePrincipal: 'Roboto', sans-serif;

//Colores
// $mainColor: ;
$secondColor: #92cccd;
$thirdColor: #425675;
$fourthColor: #31343d;

$verde: #4cb8b3;
$rosa: #f53756;
$amarillo: #FEF460;
$morado: #752F97;
$negro: #000000;
$blanco: #ffffff;


// Media Queries
$telefono: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;


// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;


// Separaciones

$separacion: 5rem;