.contact-me__footer {
    display: flex;
    flex-direction: column;
    background-color: $fourthColor;
    align-items: center;
    padding: 2rem 0 ;
    .contact-me__div--heading {
        order: 1;
        width: 100%;
        h2 {
            padding: 1rem;
            color: $fourthColor;
            background-color: $secondColor;
            text-align: center;
        }
    }
    .contact-me__div--navigation {
        order: 2;
        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem 0 ;
        }
        a {
            position: relative;
            color: $secondColor;
            padding: 5px 1rem;
            margin: 1rem 0;
        }
        
        a:hover {
            color: $fourthColor;
            background-color: $secondColor;
            transition: all 0.5s ease-in-out;
            box-shadow: inset 0px 0px 8px rgba(146,204,205,255), 0 0 15px rgba(146,204,205,255);
        }
        a::before {
            content: '';
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: $secondColor;
            bottom: -1rem;
            left: 0;

        }
        a:hover::before {
            width: 0%;
            transition: all 0.5s ease-in-out;
        }
    }
    
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0 1rem 2rem;
        .contact-me__div--navigation {
            order: 0;
            nav {
                display: flex;
                flex-direction: row;
            }
            a {
                margin-right: 2rem;
            }
        }
        .contact-me__div--heading {
            width: auto;
            h2 {
                font-size: 26px;
                padding-right: 5rem;
            }
        }
        
    }
    @include laptop {
        padding-left: 5rem;
    }
}