.header__section {   
    div {
        background-color: $fourthColor;
    }
    .header__div--main-heading-and-navigation {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .header__picture {
            margin-top: 1rem;
            height: 10rem;
            width: 10rem;
        }
    }
    .header__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0 ;
        a {
            color: $secondColor;
            padding: 5px 1rem;
            margin: 5px 0;
            border-bottom: 3px solid $secondColor;
        }
    }
    h1 {
        padding: 1rem 0;
        width: 100%;
        color: $fourthColor;
        background-color: $secondColor;
    }
    a:hover {
        color: $fourthColor;
        background-color: $secondColor;
        border-bottom: 3px solid $fourthColor;
        transition: all 0.5s ease-in-out;
        box-shadow: inset 0px 0px 8px rgba(146,204,205,255), 0 0 15px rgba(146,204,205,255);
    }
    .header__div--background-image {
        background-image: url(../../../build/img/cover6.jpg);
        // background-repeat: no-repeat;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        h2 {
            font-size: 3rem;
            color: $mainColor;
            background-color: $secondColor;
            padding: .5rem;
            margin-bottom: 1rem;
            display: inline-block;
        }
        .header__span--main-quote {
            font-size: .5em;
            color: $fourthColor;
        }
    }
    //Media Queries
    @include tablet {       
        .header__div--main-heading-and-navigation {
            padding: 1rem 0;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-right: 2rem;
        }
        .header__nav {
            display: flex;
            flex-direction: row;
            a {
                margin: 0 1rem;
            }
        }
        h1 {
            display: inline-block;
            width: auto;
            padding-left: 5rem;
            padding-right: 1rem;
        }
        .header__div--background-image {
            justify-content: flex-end;
            h2 {

                margin: 2rem 1rem;
            }
        }
    }
    @include laptop {
        .header__div--main-heading-and-navigation {
            padding-right: 5rem
        }
    }
}