.main-content__div {
    .about-me__div--section-heading {
        margin-top: 2rem;
    }    
    h2 {
        color: $mainColor;
        display: inline-block;
        border-bottom: thick solid $mainColor; 
        padding: 1rem 1rem 1rem;
    }
    h3 {
        font-size: 22px;
    }
    p {
        font-size: 15px;
        line-height: 2rem;
        padding-top: 1rem;
    }
    .work__div--webpages-library{
        margin-top: 2rem;
    }
    .work__divs--all-webpages {
        position: relative;
        height: 20rem;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        background-image: url(../../build/img/cover1.jpg);
        background-size: cover;
        border: thick solid $secondColor;
        display: flex;
        align-items: flex-end;
        transition: box-shadow 300ms;
        .work__divs--all-webpages-title-cards {
            z-index: 1;
            color: $fourthColor;
            background-color: $secondColor;
            padding: 1rem;
            display: inline-block;
        }
        .work__a--links-to-webpages {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
    .work__divs--all-webpages::before {
        content: '';
        position: absolute;
        background-color: rgba(1, 1, 1, 0.5);
        transition: all 250ms ease-in-out;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

    }
    .work__divs--all-webpages:hover::before{
        background-color: rgba(1, 1, 1, 0.1);
        transition: all 250ms ease-in-out;
    }
    .work__div--jardines-de-la-sierra-bg-img {
        background-image: url(../../build/img/BG.jpg);
        background-position: bottom;
        grid-column: 1 / 3;
    }
    .work__div--accesorios-de-boda-bg-img {
        background-image: url(../../build/img/logo_prueba.jpg);
        background-position: center;
    }
    .work__div--css-cheatsheet-bg-img {
        background-image: url(../../build/img/cheatsheet.jpg);   
        background-position: center;
    }
    .work__div--password-generator-bg-img {
        background-image: url(../../build/img/password_generator_ss2.JPG);   
        background-position: bottom;
    }
    @include tablet {
        .about-me__section, .work__section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;
        }
        .about-me__div--section-heading, .work__div--section-heading {
            flex: 1 1 20rem;
            margin-right: 1rem;
            border-right: thick solid $mainColor;
            h2 {
                border-bottom: none;
            }
        } 
        .work__div--webpages-library {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
        .about-me__div--text, .work__div--webpages-library {
            width: 100%;
            flex: 2 1 auto;
        }
    }
    
}

