.main-content__div {
    .about-me__div--section-heading {
        margin-top: 2rem;
    }    
    h2 {
        color: $mainColor;
        display: inline-block;
        border-bottom: thick solid $mainColor; 
        padding: 1rem 1rem 1rem;
    }
    .work__div--webpages-library{
        margin-top: 2rem;
    }
    .work__divs--all-webpages {
        height: 20rem;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        background-image: url(../../../build/img/cover1.jpg);
        border: thick solid $secondColor;
        display: flex;
        align-items: flex-end;
        .work__divs--all-webpages-title-cards {
            color: $fourthColor;
            background-color: $secondColor;
            padding: 1rem;
            display: inline-block;
        }
    }
    @include tablet {
        .about-me__section, .work__section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;
        }
        .about-me__div--section-heading, .work__div--section-heading {
            flex: 1 1 20rem;
            margin-right: 1rem;
            border-right: thick solid $mainColor;
            h2 {
                border-bottom: none;
            }
        }
        .about-me__div--text, .work__div--webpages-library {
            width: 100%;
            flex: 2 1 auto;
        }
        
    }
    
}

